{% extends 'base.html' %}
{% block content %}


<div class="card bg-dark text-white">
    <img src="https://catbucket1231.s3.us-west-2.amazonaws.com/pexels-trace-hudson-2529973.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">{{blurbs.0.blurbHeader}}</h5>
      <p class="card-text" style="color: #464661">{{blurbs.0.blurb}}</p>

      <p class="card-text" style="padding: 308px 0px 0px 0px;">
          if (developer() === "backend"){ </p>
            <p class="card-text" style="text-indent: 30px;">
              response = Project.build(requirements.read(), expectations.exceed());</p>

              <p class="card-text" style="text-indent: 30px;">
               project = response(completed));</p>
               <p class="card-text" style="text-indent: 30px;">
                 return project}  </p>
                 <br> 
                 <br> 
                 <p class="card-text" >
                     %[]  Awesome</p>
    </div>
  </div>

{% endblock %}